.fa-car{
    font-size : 500%;
    color : #CC0000;
    width : 100px;
    cursor: pointer;
    cursor: hand;
}

.fa-times{
    font-size : 500%;
    color : darkred;
}

.fa-check{
    font-size : 500%;
    color : green;
}

.busyStation{
    color : #00CC00;
}

.untouchable{
    opacity: 0.3;
    cursor : default;
}

.modal{
    color : #0f0f0f;
    text-shadow: none;
}

td, td a {
    color : #0f0f0f;
    text-shadow: none;
}

th{
    text-align: center;
    color : #0f0f0f;
    text-shadow: none;
}
